.button-viewswitcher-refresh {
  list-style-image: url("chrome://tabswitcher/skin/refresh.png");
}

.button-viewswitcher-remove-selected {
  list-style-image: url("chrome://tabswitcher/skin/remove-selected.png");
}

.button-viewswitcher-remove-all {
  list-style-image: url("chrome://tabswitcher/skin/remove-all.png");
}

.button-viewswitcher-goto-last-edit {
  list-style-image: url("chrome://tabswitcher/skin/goto-last-edit.png");
}

.button-viewswitcher-goto-last-edit[disabled="true"] {
  list-style-image: url("chrome://tabswitcher/skin/goto-last-edit.png");
  opacity: 0.5;
}

.button-viewswitcher-goto-next-edit {
  list-style-image: url("chrome://tabswitcher/skin/goto-next-edit.png");
}

.button-viewswitcher-goto-next-edit[disabled="true"] {
  list-style-image: url("chrome://tabswitcher/skin/goto-next-edit.png");
  opacity: 0.5;
}

