.viewListChildren::-moz-tree-cell-text(selectedItem) {
  font-weight: bold;
}

#view-path {
  -moz-appearance: none;
  border: none;
}

.link {
  color: #0000FF;
  text-decoration: underline !important;
  cursor: pointer;
}